{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}영화 소개 리스트{% endblock %}
{% block style %}
    <style>
        /* 영화 정렬 셀렉터 */
        .l_order {
            text-decoration: none;
            min-width: 59px;
            height: 40px;
            padding: 4px 17px 4px 17px;
            border: 1px solid #fff;
            border-radius: 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 42px;
            background-color: #2B2B37;
            color: #fff;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out; }

        .l_order:hover {
            text-decoration: none;
            border-color: #bbe309;
            background-color: #bbe309;
            color: #2B2B37;
            font-weight: bold; }


        /* 무비카드 */

        .card {
            position: relative;
            z-index: 20;
        }

        .like {
            position: relative;
            display: inline-block;
            text-align: center;
            top: -200px;
            z-index: 30;
            pointer-events: none;
        }
    </style>

{% endblock %}

{% block content %}
<div id="main">
<h3> 너무 썰렁하면 캐로셀 배너 추가 예정 </h3>


<div class="container">
    <!-- <div class="text-light">
        <ul class="trailer_btn">
            <li><button type="button"><img src="imgs/1.jpg"></button></li>
            <li><button type="button"><img src="imgs/2.jpg"></button></li>
            <li><button type="button"><img src="imgs/3.jpg"></button></li>
            <li><button type="button"><img src="imgs/4.jpg"></button></li>
        </ul></div>
    일단 안함-->

    <div class="row mt-5">
        <div class="col-lg-4 text-lg-right">
            <ul class="fw-bold">
                <li><a href="#" class="l_order">최신순</a></li>
                <li><a href="#" class="l_order">인기순</a></li>
                <li><a href="#" class="l_order">제목순</a></li>
                <li><a href="#" class="l_order">평점순</a></li>
            </ul>
        </div> <!-- 셀렉터 -->
    </div>

    <div class="row">
        <!-- for 문 시작 -->
        <div class="col-sm-3">
            <div class="card card-color" style="width: 18rem; background: #2B2B37; border: #2B2B37">
                <a href="#"><img src="{% static 'imgs/1.jpg' %}" alt="{{ movie.title }}_poster" class="card-img-top rounded"></a>
                <div class="card-body p-0 mt-2 mb-4">
                    <h5 class="card-title fw-bold text-white">탑건: 매버릭</h5>
                    <p class="card-text text-white">액션,모험</p>
                    <a href="#" class="btn btn-outline-light">자세히보기</a>
                </div>
            </div>
            <div class="like d-flex justify-content-end pe-4">
                <button class="btn text-white fs-5 me-1 my-2 my-sm-0 input-group-addon" style="border: none" type="submit">
                <i class="bi bi-heart text-white fs-2 fw-bold"></i>
                </button>
            </div>
        </div> <!-- 무비카드 -->
        <!-- for문 끝 -->
        <div class="col-sm-3">
            <div class="card card-color" style="width: 18rem; background: #2B2B37; border: #2B2B37">
                <a href="#"><img src="{% static 'imgs/2.jpg' %}" alt="{{ movie.title }}_poster" class="card-img-top rounded"></a>
                <div class="card-body p-0 mt-2 mb-4">
                    <h5 class="card-title fw-bold text-white">탑건: 매버릭</h5>
                    <p class="card-text text-white">액션,모험</p>
                    <a href="#" class="btn btn-outline-light">자세히보기</a>
                </div>
            </div>
            <div class="like d-flex justify-content-end pe-4">
                <button class="btn text-white fs-5 me-1 my-2 my-sm-0 input-group-addon" style="border: none" type="submit">
                <i class="bi bi-heart text-white fs-2 fw-bold"></i>
                </button>
            </div>
        </div> <!-- 무비카드 -->
        <div class="col-sm-3">
            <div class="card card-color" style="width: 18rem; background: #2B2B37; border: #2B2B37">
                <a href="#"><img src="{% static 'imgs/3.jpg' %}" alt="{{ movie.title }}_poster" class="card-img-top rounded"></a>
                <div class="card-body p-0 mt-2 mb-4">
                    <h5 class="card-title fw-bold text-white">탑건: 매버릭</h5>
                    <p class="card-text text-white">액션,모험</p>
                    <a href="#" class="btn btn-outline-light">자세히보기</a>
                </div>
            </div>
            <div class="like d-flex justify-content-end pe-4">
                <button class="btn text-white fs-5 me-1 my-2 my-sm-0 input-group-addon" style="border: none" type="submit">
                <i class="bi bi-heart text-white fs-2 fw-bold"></i>
                </button>
            </div>
        </div> <!-- 무비카드 -->
        <div class="col-sm-3">
            <div class="card card-color" style="width: 18rem; background: #2B2B37; border: #2B2B37">
                <a href="#"><img src="{% static 'imgs/4.jpg' %}" alt="{{ movie.title }}_poster" class="card-img-top rounded"></a>
                <div class="card-body p-0 mt-2 mb-4">
                    <h5 class="card-title fw-bold text-white">탑건: 매버릭</h5>
                    <p class="card-text text-white">액션,모험</p>
                    <a href="#" class="btn btn-outline-light">자세히보기</a>
                </div>
            </div>
            <div class="like d-flex justify-content-end pe-4">
                <button class="btn text-white fs-5 me-1 my-2 my-sm-0 input-group-addon" style="border: none" type="submit">
                <i class="bi bi-heart text-white fs-2 fw-bold"></i>
                </button>
            </div>
        </div> <!-- 무비카드 -->
    </div>

    </div>  <!-- container -->
</div><!-- main  -->
{% endblock %}

{% block script %}
{% endblock %}
