{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}프로젝트 메인{% endblock %}
{% block style %}
    <style>
        /* 영화 정렬 셀렉터 */
        .l_order {
            text-decoration: none;
            min-width: 59px;
            height: 40px;
            padding: 4px 17px 4px 17px;
            border: 1px solid #fff;
            border-radius: 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 42px;
            background-color: #2B2B37;
            color: #fff;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out; }

        .l_order:hover {
            text-decoration: none;
            border-color: #bbe309;
            background-color: #bbe309;
            color: #2B2B37;
            font-weight: bold; }

        /* 비디오 노출영역 */
        .video-container {
            position: relative;
            height: 650px;
            overflow: hidden;
        }

        .video {
            position: absolute;
            z-index: -10;
        }

        .maintext {
            position: absolute;
            display: inline-block;
            text-align: center;
            top: 380px;
            z-index: 10;
        }

        /* 무비카드

        .card {
            position: relative;
            z-index: 20;
        }

        .like {
            position: relative;
            display: inline-block;
            text-align: center;
            top: -200px;
            z-index: 30;
            pointer-events: none;
        }

         */

        .card-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -webkit-line-clamp: 1;
        }

        .card-img-top {
            object-fit: cover;
            width: 100%;
            height: 430px;
        }

        .card-body { height: 150px }

    </style>

{% endblock %}

{% block content %}
<div id="main">
    <div class="video-container opacity-50 mt-6">
        <div class="video" data-vbg-autoplay="true" data-vbg-loop="true" data-vbg-end-at=110
             data-vbg="https://youtu.be/Dlfp3K11C_o"></div>
    </div> <!-- 비디오영역 data-vbg-mute-button="true"-->

    <div class="d-flex justify-content-center">
        <div class="maintext">
            <p class="text-white fs-1 fw-bold">나도 몰랐던 내가 보고 싶은 영화</p>
            <p class="text-white fs-5 py-1">더조은무비가 찾아 드립니다</p>
            <a href="{% url 'signup' %}"><button type="button" class="btn text-dark px-5 fs-5 fw-bold" style="background: #bbe309; border-color: #bbe309">Join now</button></a>
        </div>
    </div><!-- 메인텍스트 -->
    <!--
    <div class="d-flex justify-content-end pe-5 opacity-50">
        <div class="mute"><i class="bi bi-volume-mute-fill text-white fs-2 fw-bold"></i></div>
    </div>
    뮤트버튼 못 만들듯.. -->


<div class="container">
    <!-- <div class="text-light">
        <ul class="trailer_btn">
            <li><button type="button"><img src="imgs/1.jpg"></button></li>
            <li><button type="button"><img src="imgs/2.jpg"></button></li>
            <li><button type="button"><img src="imgs/3.jpg"></button></li>
            <li><button type="button"><img src="imgs/4.jpg"></button></li>
        </ul></div>
    일단 안함-->

    <div class="row mt-5">
        <div class="col-lg-4 text-lg-right">
            <ul class="fw-bold">
                <li><a onClick="window.location.reload()" class="l_order"><i class="bi bi-arrow-clockwise"></i> 랜덤영화</a></li>
            </ul>
        </div> <!-- 셀렉터 -->
    </div>

    <div class="row">
        <!-- for 문 시작 -->
        {% for movie in movies %}
        <div class="col-sm-3">
            <form method="POST" name="heart" action="{% url 'heart' %}">
            {% csrf_token %}
            <div class="card card-color" style="width: 18rem; background: #2B2B37; border: #2B2B37">
                <input type="hidden" name="img" value="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}">
                <a href="{% url 'movies:minfo' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                                                                 alt="{{ movie.title }}_poster" class="card-img-top rounded"></a>

                <div class="card-body p-0 mt-2 mb-4">
                    <input type="hidden" name="mid" value="{{ movie.pk }}">
                    <input type="hidden" name="title" value="{{ movie.title }}"><h5 class="card-title fw-bold text-white">{{ movie.title }}</h5>
                    <input type="hidden" name="date" value="{{ movie.release_date }}"><p class="card-text text-white">{% for genre in genres %}{% for mgenre in mgenres %}
                    {% if movie.id == genre.movie_id %}{% if genre.genre_id == mgenre.id %}"{{ mgenre.name }}" {% endif %}{% endif %}{% endfor %}{% endfor %}</p>
                    <a href="{% url 'movies:minfo' movie.pk %}" class="btn btn-outline-light">자세히보기</a>
                    <input type="submit" value="찜" class="btn btn-outline-light">
                </div>
            </div>
            </form>
            <!-- <div class="like d-flex justify-content-end pe-4">
                <button class="heart_btn btn text-white fs-5 me-1 my-2 my-sm-0 input-group-addon" style="border: none">
                <i class="bi bi-heart text-white fs-2 fw-bold"></i>
                </button>
            </div> -->
        </div> <!-- 무비카드 -->
        {% endfor %}
        <!-- for문 끝 -->
    </div>
    </div>  <!-- container -->
</div><!-- main  -->
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/youtube-background@1.0.14/jquery.youtube-background.min.js"></script>
<script>
  $(document).ready(function() {
    $('[data-vbg]').youtube_background(); // 실행
  });
</script>
{% endblock %}
